snippet todo "mark as todo"
<span style="color:#CC0033;font-weight:bold">TODO:</span> 
endsnippet

snippet colspan "span elem with color"
<span style="color:${1:red}">$0</span>
endsnippet

snippet rm "roman in math" i
{\rm $0}
endsnippet

snippet math "md inline math"
\\\\( $0 \\\\)
endsnippet

snippet eqn "md equation"
\\\\[
$0
\\\\]
endsnippet

snippet brl "break list"
<!-- break list -->

endsnippet
