snippet colspan "span elem with color"
<span style="color:${1:red}">$0</span>
endsnippet

snippet rm "roman in math" i
{\rm $0}
endsnippet

snippet math "md inline math"
\\\\( $0 \\\\)
endsnippet

snippet eqn "md equation"
\\\\[
$0
\\\\]
endsnippet

snippet lbr "list break"

<!-- list break -->

endsnippet

snippet meta "note metadata"
tags: ${1}  
date: `date +%Y-%m-%d`  

endsnippet

snippet outline "outline modeline"
<!-- vim:set fde=OutlineFolding(v\:lnum) fdm=expr: -->
endsnippet
