snippet stdimports
import sys
import os
import numpy as np
import matplotlib.pyplot as plt
from IPython.core.debugger import Tracer; debug_here = Tracer()
import dragons
endsnippet

snippet header
#!/usr/bin/env python

"""Doc-string here..."""

import numpy as np
import matplotlib.pyplot as plt
from docopt import docopt

__author__ = "Simon Mutch"
__date__ = "`date +%Y-%m-%d`"

args = docopt(__doc__)
endsnippet

snippet Agg
import matplotlib
matplotlib.use('Agg')
endsnippet
