global !p
import vim
endglobal

snippet header "Header"
.. default-role:: math
.. sectnum::

`!p snip.rv = vim.strwidth(t[1])*'='`
${1:${VISUAL:Document title}}
`!p snip.rv = vim.strwidth(t[1])*'='`

$0
endsnippet
