snippet rm "roman in math" i
{\rm $0}
endsnippet

snippet citet "citet command"
\citet{$0}
endsnippet

snippet citep "citep command"
\citep[${1}][${2}]{$0}
endsnippet

snippet 21cm "21cm expansion"
\$21\,{\rm cm}\$
endsnippet

snippet msol "Solar mass symbol"
{\rm M_{\odot}}
endsnippet
