.DS_Store
plugin/packer_compiled.lua
system.vim
system.lua
.netrwhist
spell/
plugin/settings/evervim.vim
bundle/
view/
plugged/
.vim_backup
autoload/plug.vim.old
ctags-system-mac
shada
tags
thesaurus
init.vim
