[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
    ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
    ignore = dirty
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = dirty
[submodule "bundle/rope"]
	path = bundle/rope
	url = https://github.com/sontek/rope-vim.git
    ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = dirty
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/vim-scripts/delimitMate.vim.git
    ignore = dirty
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/Align.git
    ignore = dirty
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
    ignore = dirty
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
    ignore = dirty
[submodule "bundle/scons"]
	path = bundle/scons
	url = https://github.com/vim-scripts/scons.vim.git
    ignore = dirty
[submodule "bundle/python-indent"]
	path = bundle/python-indent
	url = https://github.com/gg/python.vim.git
    ignore = dirty
[submodule "bundle/voom"]
	path = bundle/voom
	url = https://github.com/vim-scripts/VOoM.git
    ignore = dirty
[submodule "bundle/rainbowparen"]
	path = bundle/rainbowparen
	url = https://github.com/kien/rainbow_parentheses.vim.git
    ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "bundle/jinja2-syntax"]
	path = bundle/jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
    ignore = dirty
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
    ignore = dirty
[submodule "bundle/showmarks"]
	path = bundle/showmarks
	url = https://github.com/zakj/vim-showmarks.git
    ignore = dirty
[submodule "bundle/indentobject"]
	path = bundle/indentobject
	url = https://github.com/austintaylor/vim-indentobject.git
    ignore = dirty
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
    ignore = dirty
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
    ignore = dirty
[submodule "bundle/vitality"]
	path = bundle/vitality
	url = https://github.com/sjl/vitality.vim.git
    ignore = dirty
[submodule "bundle/python_match"]
	path = bundle/python_match
	url = https://github.com/vim-scripts/python_match.vim.git
    ignore = dirty
[submodule "bundle/latex-box"]
	path = bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
    ignore = dirty
[submodule "bundle/angry"]
	path = bundle/angry
	url = https://github.com/b4winckler/vim-angry.git
    ignore = dirty
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
    ignore = dirty
[submodule "bundle/gf-user"]
	path = bundle/gf-user
	url = http://github.com/kana/vim-gf-user
    ignore = dirty
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/kana/vim-scratch.git
    ignore = dirty
[submodule "bundle/gf-diff"]
	path = bundle/gf-diff
	url = https://github.com/smutch/vim-gf-diff.git
    ignore = dirty
[submodule "bundle/pandoc"]
	path = bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
    ignore = dirty
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
    ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
    ignore = dirty
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/skwp/vim-conque
    ignore = dirty
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
    ignore = dirty
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/spf13/snipmate-snippets.git
    ignore = dirty
[submodule "bundle/switch"]
	path = bundle/switch
	url = https://github.com/AndrewRadev/switch.vim.git
    ignore = dirty
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet
    ignore = dirty
[submodule "bundle/creole-syntax"]
	path = bundle/creole-syntax
	url = https://github.com/vim-scripts/vim-creole.git
    ignore = dirty
